.Signup {
  max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    align-content: center;
    /* max-width: 100%; */
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.PasswordRequirements {
  width: 80vw;
  margin: auto;
}

.SubmitBtn {
  width: 20vw;
  margin: auto;
}

form {
  width: 100%;
  margin: auto;
}

input {
  height: 3em;
  width: 90%;
  margin: auto;
}

.input-box {
  /* margin: 0.4rem; */
  /* padding: 0.5em 0; */
  height: 4em;
  width: 100%;
  align-content: center;
  vertical-align: middle;
}

.left-col {
  display: inline-block;
  text-align: right;
  padding: 0.6em;
  width: 22%;
}

.right-col {
  display: inline-block;
  text-align: left;
  padding: 0.3em;
  width: 55%;
}

li {
  margin: 0.1em;
  padding: 0.1em;
}

.red {
  background-color: Tomato;
}

.green {
  background-color: YellowGreen;
}
