.RandomPark {
    width: 80vw;
    min-height: 30%;
    padding: 1em;
    margin: 3em auto 0 auto;
}

.RandomParkImage {
    background-image: url("https://static1.squarespace.com/static/500c5c5084ae823f9b01b655/515cd498e4b02ae078533b47/515cd550e4b0522104ee8751/1365038419869/_DSC5637_HDR.jpg?format=2500w");
    background-size: cover;
    border: 3px solid white;
    height: 30vh;
}

h4 {
    margin: .3em;
}

@media screen and (min-width: 500px) {
    .RandomParkImage {
        max-width: 350px;
        background-size: cover;
        margin: 0 auto;
    }
    .RandomPark {
        max-width: 350px;
    }
}